<section class="bg-gray-50 dark:bg-gray-900">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        <div
            class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h4
                    class="text-center text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                    <mat-icon>computer</mat-icon> Registrate
                </h4>
                <form class="space-y-4 md:space-y-6" [formGroup]="registerForm">
                    <div class="mb-4">
                        <label for="email-address-icon"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Ingresa tu nombre</label>
                        <div class="relative">
                            <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                <mat-icon class="w-4 h-4 text-gray-500 dark:text-gray-400"
                                    aria-hidden="true">perm_identity</mat-icon>
                            </div>
                            <input matInput type="text" id="name" name="name" formControlName="name"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="Nombres" required>
                        </div>
                    </div>

                    <div class="mb-4">
                        <label for="email-address-icon"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Ingresa tu
                            correo</label>
                        <div class="relative">
                            <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                <mat-icon class="w-4 h-4 text-gray-500 dark:text-gray-400"
                                    aria-hidden="true">mail</mat-icon>
                            </div>
                            <input matInput type="email" id="email" name="email" formControlName="email"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="nombre@correo.com" required>
                        </div>
                    </div>

                    <div class="mb-4">
                        <label for="password-icon"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Ingresa tu ontraseña</label>
                        <div class="relative">
                            <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                <mat-icon class="w-4 h-4 text-gray-500 dark:text-gray-400"
                                    aria-hidden="true">lock</mat-icon>
                            </div>
                            <input type="password" id="password" name="password" formControlName="password"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="••••••••" required>
                        </div>
                    </div>

                    <button (click)="register()" [disabled]="registerForm.invalid" type="button"
                        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium flex justify-center rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 cursor-pointer">Registrarte</button>
                </form>
            </div>
        </div>  
    </div>
</section>