<div class="flex flex-col">
    <h3 class="text-center pt-6"><mat-icon>dashboard</mat-icon> Panel de Administrador</h3>
    <div class="flex flex-col justify-center md:flex-row p-6 gap-10 w-full">
        <button routerLink="/admin/categories" type="button"
            class="md:h-24 lg:h-36 text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800">
            Administrador de categorias
        </button>   
        <button routerLink="/admin/brands" type="button"
            class="md:h-24 lg:h-36 text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800">
            Administrador de marcas
        </button>
        <button routerLink="/admin/products" type="button"
            class="md:h-24 lg:h-36 text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800">
            Administrador de productos
        </button>
        <button routerLink="/admin/orders" type="button"
            class="md:h-24 lg:h-36 text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800">
            Administrador de pedidos
        </button>
    </div>
</div>